*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
}
body{
  width: 750px;
  margin: 0 auto;
  color: #333;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.flex{
  display: flex;
}
/*步骤CSS*/
.step{
  margin-bottom: 49px;
}
.step img{
  height: 40px;
  margin: 0 auto;
}
/*title-CSS*/
.title{
  display:flex;
  height: 28px;
  line-height: 28px;
}
.title i{
  display:block;
  width:8px;
  height:28px;
  margin-right: 10px;
  background-color: #FDC915;
}
.title span{
  font-size: 32px;;
}
.title-1{
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
&:before{
   content: '';
   width: 8px;
   height: 28px;
   background-color: #FDC915;
   margin-right: 10px;
 }
}
.rili{
  width: 34px;
  height: 32px;
}
.title-2{
  font-size: 30px;
  margin-bottom: 20px;
}
.title-required:before{
  content: '*';
  color: red;
  margin-right: 10px;
}
input[type='checkbox']{
  appearance: none;
  width: 40px;
  height: 40px;
  background: #F5F5F5;
  border-radius: 8px;
}
input[type='checkbox']:checked{
  background: #fdc915 url("../../assets/img/duihao.png") center no-repeat;
  background-size: 22px 16px;
}
