*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html,body{
  position: relative;
  min-height: 100%;
}
body{
  width: 750px;
  margin: 0 auto;
  padding-bottom: 120px;
  color: #333;
  background: #fff;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul, li{list-style: none;}
.flex{
  display: flex;
}
/*步骤CSS*/
.step{
  margin-bottom: 49px;
}
.step img{
  height: 40px;
  margin: 0 auto;
}
/*title-CSS*/
.title{
  display:flex;
  height: 28px;
  line-height: 28px;
}
.title i{
  display:block;
  width:8px;
  height:28px;
  margin-right: 10px;
  background-color: #FDC915;
}
.title span{
  font-size: 32px;;
}
.title-1{
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
&:before{
   content: '';
   width: 8px;
   height: 28px;
   background-color: #FDC915;
   margin-right: 10px;
 }
}
.rili{
  width: 34px;
  height: 32px;
}
.title-2{
  font-size: 30px;
  margin-bottom: 20px;
}
.title-required:before{
  content: '*';
  color: red;
  margin-right: 10px;
}
input[type='checkbox']{
  appearance: none;
  width: 40px;
  height: 40px;
  background: #F5F5F5;
  border-radius: 8px;
}
input[type='checkbox']:checked{
  background: #fdc915 url("../../assets/img/duihao.png") center no-repeat;
  background-size: 22px 16px;
}
.icon-jt{
  width: 12px;
  height: 22px;
  background: url("../img/icon-right.png") center no-repeat;
  background-size: 100%;
}
.bottom-btn{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: #fdc915;
  font-size: 32px;
  text-align: center;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fdc915;
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #fdc915;
  }
}
